*.aux
*.bbl
*.blg
*.log
*.gz
*.toc
*.lof
*.lot
*.out
*.gitignore
*.classpath
*.project

Code/CustomerUI/customerUI/.settings/*

Code/RestaurantUI/.settings/*
Code/RestaurantUI/.metadata/*
/.metadata/

Report/images/*
Report/screenshots/*